# streamlit==1.47.0
# geopandas==1.0.1
# pandas==2.1.4
# shapely==2.0.7
# folium==0.19.4
# streamlit_folium==0.25.0
# branca==0.8.1
# matplotlib==3.7.5
# seaborn==0.13.2
# pydeck==0.9.1


streamlit
geopandas
pandas
shapely
folium
streamlit_folium
branca
matplotlib
seaborn
pydeck
plotly
osmnx
openpyxl
h3